<div class="header-wrapper">


    <div class="header-content">
        <header class="nav-header">
            <ul class="nav nav-pills">
                <li class="nav-item"><a href="#" class="nav-link">Perfil</a></li>
                <li class="nav-item"><a href="#experiencia" class="nav-link">Experiencia</a></li>
                <li class="nav-item"><a href="#proyectos" class="nav-link">Proyectos</a></li>
                <li class="nav-item"><a href="#tecnologias" class="nav-link">Tecnologías</a></li>
                <li class="nav-item"><a href="#educacion" class="nav-link">Educación</a></li>
                <li class="nav-item"><a href="#sobreMi" class="nav-link">Sobre mí</a></li>
                <!--<li class="nav-item"><a href="#" class="nav-link"><img id="change-theme"
                                src="assets/img/theme.png" alt="Cambiar tema" width="20" height="20"></a></li> -->
            </ul>
        </header>
    </div>

    <div class="scroll-bar">
        <div class="scroll-bar__fill" [style.width.%]="scrollPercent"></div>
    </div>
</div>