<div id="education">
    <div id="instituto">
        <img src="fachada.jpg" alt="Instituto">
        <div>
            <h2>TÉCNICO SUPERIOR EN DESAROLLO DE APLICACIONES WEB</h2>
            <p>IES FERNANDO AGUILAR QUIGNON</p>
            <p>2021 - 2023</p>
            <p>
                Aquí desarrollé mis habilidades como desarrollador y aprendí tecnologías como Node.js, Angular,
                JavaScript,
                TypeScript, Java, Python, HTML, CSS, XML, Tomcat, Figma, NetBeans, entre otras.
            </p>
            <a href="https://www.iesfernandoaguilar.es/" target="_blank"><img src="enlace.png" alt="view"><img src="enlace_black.png" alt="view">Info</a>
        </div>
    </div>
    <ng-container *ngFor="let cert of certificados.slice(0, certificadosVisibles)">
        <div class="certificado">
            <img [src]="cert.img" alt="Certificación">
            <div>
                <h2>{{ cert.titulo }}</h2>
                <p>{{ cert.entidad }}</p>
                <p>{{ cert.descripcion }}</p>
                <a [href]="cert.enlace" target="_blank"><img src="enlace.png" alt="view"><img src="enlace_black.png" alt="view">{{ cert.enlaceTexto }}</a>
            </div>
        </div>
    </ng-container>
</div>


@if(certificadosVisibles < certificados.length){
    <button type="button" class="btn btn-primary" (click)="mostrarMasCertificados()">ver más</button>
}@else {
    <button type="button" class="btn btn-secondary" (click)="reiniciarCertificados()">ver menos</button>
}