<app-header></app-header>

<div id="presentation" class="container">
    <img src="face4.png" alt="Avatar">
    <div>
        <h1>Sebastian García Recio</h1>
        <p>Técnico en desarrollo de aplicaciones Web | Desarrollador full Stack | Diseñador de UX/UI | Administrador de
            Sistemas Web | Gestor de Proyectos Digitales | Apasionado por la Innovación Tecnológica</p>
        <div id="redes">
            <a href="https://github.com/SebastianGarciaRecio" target="_blank"><img src="github.png"><img src="github_black.png" class="black_icon">Github</a>
            <a href="https://www.linkedin.com/in/sebasti%C3%A1n-garc%C3%ADa-recio-a033b629b/" target="_blank"><img
                    src="linkedin.png"> <img src="linkedin_black.png" class="black_icon">Linkedin</a>
            <a href="mailto:+34640249966"><img src="tlf.png"> <img src="tlf_black.png" class="black_icon">+34640249966</a>
            <a href="mailto:garciareciosebastian02gmail.com"><img
                    src="correo-electronico.png"> <img src="correo-electronico_black.png" class="black_icon">garciareciosebastian02gmail.com</a>
        </div>
    </div>
</div>

<div class="title-section">
    <img src="laboral.png" alt="Proyects Icon" width="50" height="50">
    <h2 id="experiencia">Experiencia</h2>
</div>

<app-experience></app-experience>

<div id="proyects">
    <div class="title-section">
        <img src="web_blanco.png" alt="Proyects Icon" width="50" height="50">
        <h2 id="proyectos">Proyectos</h2>
    </div>
    <app-proyects-list></app-proyects-list>
    
</div>

<div id="tecnologies">
    <div class="title-section">
        <img src="tecnologies.png" alt="Tecnologies Icon" width="50" height="50">
        <h2 id="tecnologias">Tecnologías</h2>
    </div>
    <app-tecnologies-list></app-tecnologies-list>
</div>


<div class="title-section">
    <img src="education.png" alt="Education Icon" width="50" height="50">
    <h2 id="educacion">Educación</h2>
</div>

<app-certificate></app-certificate>

<div id="me">
    <div class="title-section">
        <img src="sobre-mi_blanco.png" alt="Me Icon" width="50" height="50">
        <h2 id="sobreMi">Sobre mí</h2>
    </div>

    <div class="container">
        <div id="sobre-mi">
            <div id="me-card">
                <div id="texto">
                    <p>Tengo 22 años y vivo en Cádiz, España. Mi interés por el desarrollo web comenzó de forma
                        autodidacta, aprendiendo a través de cursos en línea donde adquirí conocimientos en tecnologías
                        como HTML, CSS y las bases de JavaScript, desarrollando pequeños proyectos para consolidar mis
                        habilidades. Este entusiasmo inicial me llevó a tomar la decisión de convertir mi pasión en mi
                        profesión, cursando el Grado Superior de Desarrollo de Aplicaciones Web en el IES Fernando
                        Aguilar Quignon.</p>
                    <p>Durante mi formación, he adquirido competencias clave como lógica de programación, gestión de
                        proyectos digitales, administración de sistemas web y manejo de tecnologías avanzadas como
                        Node.js, Java, Python, Angular y SQL, entre otras. Estas herramientas me han permitido
                        desarrollar proyectos más complejos y sentar las bases para impulsar mi carrera como
                        programador.</p>
                    <p>Actualmente, continúo ampliando mis conocimientos y explorando nuevas tecnologías. Estoy
                        disponible para trabajar en proyectos reales que me permitan adquirir experiencia práctica,
                        contribuir al éxito de los equipos en los que colabore y seguir creciendo profesionalmente en
                        este apasionante sector.</p>
                </div>
                <img src="yo.jpg" alt="Avatar">
            </div>
        </div>
    </div>
</div>


<app-footer></app-footer>