<div class="container my-4">
    <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-6 row-cols-xl-8 g-2">
        @for(tecnologia of tecnologias.slice(0, tecnologiasVisibles); track $index){
        <div class="col">
            <div class="card bg-transparent border-0 shadow-0">
                <img [src]="tecnologia.img" class="card-img" [alt]="tecnologia.nombre">
            </div>
        </div>
        }
    </div>
</div>

@if(tecnologiasVisibles < tecnologias.length){
    <button type="button" class="btn btn-primary" (click)="mostrarMasTecnologias()">ver más</button>
}@else {
    <button type="button" class="btn btn-secondary" (click)="reiniciarTecnologias()">ver menos</button>
}