<div class="timeline">
  @for(experiencia of experiencias; track $index){
    <div class="timeline-item">
      <div class="timeline-marker"></div>
      <div class="timeline-left">
        <span class="timeline-role">{{ experiencia.rol }}</span>
        <h3 class="timeline-company">{{ experiencia.empresa }}</h3>
        <span class="timeline-date">{{ experiencia.fechaInicio }}</span>
      </div>

      <div class="timeline-right">
        <p>{{ experiencia.descripcion }}</p>
      </div>
    </div>
  }

</div>